.header {
  margin-top: 0;
}

.categoryGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-height: 150px;
}

.categoryItem {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
}
