.checkbox {
  display: inline-flex;
  align-items: center;
  position: relative;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkboxCheckmark {
  position: relative;
  height: 18px;
  width: 18px;
  border: 1.5px solid #969494;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.checkboxCheckmark.invalid {
  border: 1.5px solid #cbc8c8;
  cursor: unset;
}

.checkbox input:checked ~ .checkboxCheckmark {
  background-color: #fff;
}

.checkbox input:checked ~ .checkboxCheckmark:after {
  opacity: 1;
}

.checkboxCheckmark:hover:not(.invalid) {
  background-color: #eee;
}

.checkboxCheckmark:hover input:checked {
  background-color: #fff;
}

.checkboxCheckmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 11px;
  border: solid #1f8cbf;
  border-width: 0 2.5px 2.5px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.checkboxLabel {
  color: #333;
  line-height: 1.8;
  font-size: 16px;
  margin-left: 10px;
  white-space: nowrap;
}

.invalid {
  color: rgba(0, 0, 0, 0.26);
}

.clickable {
  cursor: pointer;
}
