.checkbox-tree {
  font-family: Arial, sans-serif;
}

.tree-node {
  margin-bottom: 5px;
}

.tree-node-header {
  display: flex;
  align-items: center;
}

.tree-node-children {
  margin-left: 30px;
  margin-top: 5px;
}

.no-children {
  margin-left: 45px;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
  vertical-align: middle;
  cursor: pointer;
}

.arrow.open {
  transform: rotate(90deg);
}
