.treeNodeHeader {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.treeNodeChildren {
  margin-left: 30px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.noChildren {
  margin-left: 45px;
}

.endNode {
  margin-left: 15px;
}

.invalidNode {
  margin-left: 15px;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
  margin-right: 10px;
  transition: transform 0.2s ease-in-out;
  vertical-align: middle;
  cursor: pointer;
}

.arrowOpen {
  transform: rotate(90deg);
}
